﻿@model List<GigHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artists I'm Following</h2>

<ul>
    @foreach (var following in Model)
    {
        <li>@following.Name</li>
    }
</ul>

